# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI - Frontend

on:
  push:
    branches:
      - main
    paths:
      - "frontend/**"
      - ".github/workflows/ci-frontend.yml"
  pull_request:
    paths:
      - "frontend/**"
      - ".github/workflows/ci-frontend.yml"

defaults:
  run:
    working-directory: frontend

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Frontend Setup
        uses: ./.github/actions/setup-frontend
      - name: Format check
        run: dart format --set-exit-if-changed .

  analyze:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Frontend Setup
        uses: ./.github/actions/setup-frontend
      - name: Analyze
        run: flutter analyze --no-fatal-infos

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Frontend Setup
        uses: ./.github/actions/setup-frontend
      - name: Test
        run: |
          # テストがない状態で実行するとエラーになるので、テストが存在するかを確認してから実行する
          if flutter test --list-tests > /dev/null 2>&1 && [ -n "$(flutter test --list-tests 2>/dev/null)" ]; then
            flutter test --coverage
          else
            echo "No tests found. Skipping test execution."
          fi
