# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CD - Terraform

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
      - '!terraform/**.md'

jobs:
  terraform-cd-dev:
    name: Terraform CD
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Authenticate to GCP
        uses: "google-github-actions/auth@v3"
        with:
          workload_identity_provider: ${{ secrets.GCP_SNAMPO_WIP_ID }}
          service_account: ${{ vars.GCP_SNAMPO_TERRAFORM_SA }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve
